<% 
/**
 * Component: Navigation
 * Filepath: components/navigation.ejs
 * 
 * @description This component represents the navigation bar of the application.
 * It displays different elements based on the value of the 'settings.testing' variable.
 * If 'settings.testing' is true, it shows a message indicating that the testing phase is active.
 * The component also includes scripts and stylesheets for external libraries.
 * It contains a spinner element and a search input field.
*/
%>

<!-- Begin loading page content, load styles and CDN links -->
<script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/nanobar/0.4.2/nanobar.js"></script>
<style>
  .alertify-notifier .ajs-message.ajs-success {
    color: #71747a;
    padding: 13px 7px;
    background: #e5e7eb;
    border-radius: 24px;
    text-align: center;
    font-weight: 500;
  }
</style>
<style>
  .spinner {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 30px;
    border: 3px solid #474c55;
    border-radius: 50%;
    border-top: 3px solid white;
    width: 22px;
    height: 22px;
    -webkit-animation: spin 0.5s linear infinite;
    /* Safari */
    animation: spin 0.5s linear infinite;
    opacity: 0;
    transition: opacity 0.5s;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
</style>
<div id="spinner" class="spinner mt-2 mr-2"></div>

<!-- Mobile menu button -->
<div class="fixed top-4 left-4 z-50 2xl:hidden">
  <button id="mobile-menu-button" class="p-2 rounded-lg bg-gray-100 border border-gray-200 shadow-sm hover:bg-gray-200 transition">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
    </svg>
  </button>
</div>

<!-- Static sidebar for desktop -->
<div id="sidebar" class="rounded-r-3xl m-3 transform -translate-x-full 2xl:translate-x-0 transition-transform duration-300 ease-in-out fixed z-40 2xl:flex 2xl:w-56 2xl:flex-col 2xl:inset-y-0">
  <!-- This is so that the testing alert isn't in the way of the sidebar -->
  <div class="flex-1 flex flex-col min-h-0 bg-gray-100 2xl:bg-gray-200/50 rounded-none shadow-sm sm:rounded-xl border border-black/5">
    <div class="flex-1 flex flex-col p-4 overflow-y-auto">
      <nav class="navbar-nav flex-1 px-2 space-y-1">
        <div class="mb-4 flex">
          <span class="text-gray-700 text-lg font-semibold tracking-tight mt-2"><%= settings.name %></span>
        </div>
        <div class="flex-shrink-0 flex shadow-sm bg-gray-100 border border-gray-300/70 rounded-lg 
        <% if (settings.api.client.accountSwitcher !== true) { %>
          p-4
        <% } else { %>
          p-2
        <% } %> ">
          <% if (settings.api.client.accountSwitcher !== true) { %>
          <% /* Legacy account view, will only be seen if the account switcher is disabled */ %>
          <a href="#" class="flex-shrink-0 w-full group block">
            <div class="flex items-center">
              <div>
                <img class="inline-block h-9 w-9 rounded-full" src="<% if (userinfo.avatar) { %>https://cdn.discordapp.com/avatars/<%= userinfo.id %>/<%= userinfo.avatar %>?size=256<% } else { %>https://i.imgur.com/J4jb4zO.png<% } %>" alt="">
              </div>
              <div class="ml-3">
                <p class="text-sm font-semibold text-gray-800"><%= userinfo.global_name && userinfo.global_name.length > 6 ? userinfo.global_name.slice(0,6) + "..." : userinfo.global_name %></p>
                <p class="text-xs font-medium text-gray-400 group-hover:text-gray-500 transition">
                  <% if (typeof packagename.charAt(0) == 'number') { %>
                  <%= packagename %>
                  <% } else { %>
                  <%= packagename.charAt(0).toUpperCase() + packagename.slice(1) %>
                  <% } %>
                </p>
              </div>
            </div>
          </a>
          <% } else { %>
          <% /* v2 of account view with built in account switcher */ %>
          <a href="../accounts" class="flex-shrink-0 w-full group block transition hover:bg-gray-200/50 hover:shadow-none rounded-lg p-2">
            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <div>
                  <img class="inline-block h-9 w-9 rounded-full" src="<% if (userinfo.avatar) { %>https://cdn.discordapp.com/avatars/<%= userinfo.id %>/<%= userinfo.avatar %>?size=256<% } else { %>https://i.imgur.com/J4jb4zO.png<% } %>" alt="">
                </div>
                <div class="ml-3">
                  <p class="text-sm font-semibold text-gray-800"><%= userinfo.global_name %></p>
                  <p class="text-xs font-medium text-gray-400">
                    <% if (typeof packagename.charAt(0) == 'number') { %>
                    <%= packagename %>
                    <% } else { %>
                    <%= packagename.charAt(0).toUpperCase() + packagename.slice(1) %>
                    <% } %>
                  </p>
                </div>
              </div>
              <!-- SVG Icon -->
              <div class="ml-auto mr-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 text-gray-400">
                  <path fill-rule="evenodd" d="M10.53 3.47a.75.75 0 0 0-1.06 0L6.22 6.72a.75.75 0 0 0 1.06 1.06L10 5.06l2.72 2.72a.75.75 0 1 0 1.06-1.06l-3.25-3.25Zm-4.31 9.81 3.25 3.25a.75.75 0 0 0 1.06 0l3.25-3.25a.75.75 0 1 0-1.06-1.06L10 14.94l-2.72-2.72a.75.75 0 0 0-1.06 1.06Z" clip-rule="evenodd" />
                </svg>
              </div>
            </div>
          </a>
          <% } %>
        </div>
        <div class="pt-4">
          <div class="relative mt-1 flex items-center">
            <input placeholder="Search..." id="miniSearchInput" type="text" name="search" id="search" class="block w-full shadow-sm bg-gray-100 border border-gray-300/70 rounded-lg pr-12 focus:border-gray-500 transition focus:ring-gray-500 sm:text-sm">
            <div class="absolute inset-y-0 right-0 flex py-1.5 pr-1.5">
              <a id="miniSearchButton" class="cursor-pointer inline-flex items-center rounded-l-lg hover:bg-gray-200 transition rounded-r-lg border border-gray-300 pr-2.5 pl-2 font-sans text-sm font-medium text-gray-400">/</a>
            </div>
          </div>
        </div>

        <div class="pb-4"></div>
        <a href="../dashboard" class="nav-link transition text-gray-600 hover:bg-gray-200 backdrop-blur hover:text-gray-800 group flex items-center px-4 py-2 text-sm font-medium rounded-lg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 mr-2 text-gray-500">
            <path d="M7.628 1.099a.75.75 0 0 1 .744 0l5.25 3a.75.75 0 0 1 0 1.302l-5.25 3a.75.75 0 0 1-.744 0l-5.25-3a.75.75 0 0 1 0-1.302l5.25-3Z" />
            <path d="m2.57 7.24-.192.11a.75.75 0 0 0 0 1.302l5.25 3a.75.75 0 0 0 .744 0l5.25-3a.75.75 0 0 0 0-1.303l-.192-.11-4.314 2.465a2.25 2.25 0 0 1-2.232 0L2.57 7.239Z" />
            <path d="m2.378 10.6.192-.11 4.314 2.464a2.25 2.25 0 0 0 2.232 0l4.314-2.465.192.11a.75.75 0 0 1 0 1.303l-5.25 3a.75.75 0 0 1-.744 0l-5.25-3a.75.75 0 0 1 0-1.303Z" />
          </svg>
          Dashboard
        </a>
        <a href="../servers" class="nav-link transition text-gray-600 hover:bg-gray-200 backdrop-blur hover:text-gray-800 group flex items-center px-4 py-2 text-sm font-medium rounded-lg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 mr-2 text-gray-500">
            <path d="M3.665 3.588A2 2 0 0 1 5.622 2h4.754a2 2 0 0 1 1.958 1.588l1.098 5.218a3.487 3.487 0 0 0-1.433-.306H4c-.51 0-.995.11-1.433.306l1.099-5.218Z" />
            <path fill-rule="evenodd" d="M4 10a2 2 0 1 0 0 4h8a2 2 0 1 0 0-4H4Zm8 2.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM9.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" clip-rule="evenodd" />
          </svg>
          Servers
        </a>
        <a href="../profile" class="nav-link transition text-gray-600 hover:bg-gray-200 backdrop-blur hover:text-gray-800 group flex items-center px-4 py-2 text-sm font-medium rounded-lg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 mr-2 text-gray-500">
            <path d="M7 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM14.5 9a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5ZM1.615 16.428a1.224 1.224 0 0 1-.569-1.175 6.002 6.002 0 0 1 11.908 0c.058.467-.172.92-.57 1.174A9.953 9.953 0 0 1 7 18a9.953 9.953 0 0 1-5.385-1.572ZM14.5 16h-.106c.07-.297.088-.611.048-.933a7.47 7.47 0 0 0-1.588-3.755 4.502 4.502 0 0 1 5.874 2.636.818.818 0 0 1-.36.98A7.465 7.465 0 0 1 14.5 16Z" />
          </svg>
          Profile
        </a>
        <a href="../security" class="nav-link transition text-gray-600 hover:bg-gray-200 backdrop-blur hover:text-gray-800 group flex items-center px-4 py-2 text-sm font-medium rounded-lg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 mr-2 text-gray-500">
            <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 0 0-4.5 4.5V9H5a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6a2 2 0 0 0-2-2h-.5V5.5A4.5 4.5 0 0 0 10 1Zm3 8V5.5a3 3 0 1 0-6 0V9h6Z" clip-rule="evenodd" />
          </svg>
          Security
        </a>
        <a href="../referrals" class="nav-link transition text-gray-600 hover:bg-gray-200 backdrop-blur hover:text-gray-800 group flex items-center px-4 py-2 text-sm font-medium rounded-lg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 mr-2 text-gray-500">
            <path fill-rule="evenodd" d="M9 4.5a.75.75 0 0 1 .721.544l.813 2.846a3.75 3.75 0 0 0 2.576 2.576l2.846.813a.75.75 0 0 1 0 1.442l-2.846.813a3.75 3.75 0 0 0-2.576 2.576l-.813 2.846a.75.75 0 0 1-1.442 0l-.813-2.846a3.75 3.75 0 0 0-2.576-2.576l-2.846-.813a.75.75 0 0 1 0-1.442l2.846-.813A3.75 3.75 0 0 0 7.466 7.89l.813-2.846A.75.75 0 0 1 9 4.5ZM18 1.5a.75.75 0 0 1 .728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 0 1 0 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 0 1-1.456 0l-.258-1.036a2.625 2.625 0 0 0-1.91-1.91l-1.036-.258a.75.75 0 0 1 0-1.456l1.036-.258a2.625 2.625 0 0 0 1.91-1.91l.258-1.036A.75.75 0 0 1 18 1.5ZM16.5 15a.75.75 0 0 1 .712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 0 1 0 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 0 1-1.422 0l-.395-1.183a1.5 1.5 0 0 0-.948-.948l-1.183-.395a.75.75 0 0 1 0-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0 1 16.5 15Z" clip-rule="evenodd" />
          </svg>                  
          Referrals
        </a>

        <p class="text-gray-400 font-medium text-xs pb-2 ml-4 pt-8">
          Economy 
        </p>

        <% /* We should probably disable it on the backend side, but you can't do much without the AFK script anyway */ %>
        <a href="../transfer" class="nav-link transition text-gray-600 hover:bg-gray-200 backdrop-blur hover:text-gray-800 group flex items-center px-4 py-2 text-sm font-medium rounded-lg">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 mr-2 text-gray-500">
  <path d="M2.273 5.625A4.483 4.483 0 0 1 5.25 4.5h13.5c1.141 0 2.183.425 2.977 1.125A3 3 0 0 0 18.75 3H5.25a3 3 0 0 0-2.977 2.625ZM2.273 8.625A4.483 4.483 0 0 1 5.25 7.5h13.5c1.141 0 2.183.425 2.977 1.125A3 3 0 0 0 18.75 6H5.25a3 3 0 0 0-2.977 2.625ZM5.25 9a3 3 0 0 0-3 3v6a3 3 0 0 0 3 3h13.5a3 3 0 0 0 3-3v-6a3 3 0 0 0-3-3H15a.75.75 0 0 0-.75.75 2.25 2.25 0 0 1-4.5 0A.75.75 0 0 0 9 9H5.25Z" />
</svg>
          Wallet
        </a>
        <% if (settings.api.afk.enabled == true) { %>
        <a href="../afk" class="nav-link transition text-gray-600 hover:bg-gray-200 backdrop-blur hover:text-gray-800 flex items-center px-4 py-2 text-sm font-medium rounded-lg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 mr-2 text-gray-500">
            <path fill-rule="evenodd" d="M3.75 3.5c0 .563.186 1.082.5 1.5H2a1 1 0 0 0 0 2h5.25V5h1.5v2H14a1 1 0 1 0 0-2h-2.25A2.5 2.5 0 0 0 8 1.714 2.5 2.5 0 0 0 3.75 3.5Zm3.499 0v-.038A1 1 0 1 0 6.25 4.5h1l-.001-1Zm2.5-1a1 1 0 0 0-1 .962l.001.038v1h.999a1 1 0 0 0 0-2Z" clip-rule="evenodd" />
            <path d="M7.25 8.5H2V12a2 2 0 0 0 2 2h3.25V8.5ZM8.75 14V8.5H14V12a2 2 0 0 1-2 2H8.75Z" />
          </svg>
          AFK Page
        </a>
        <% } %>

        <% /* Same thing here, we should probably disable it on the backend side */ %>
        <% if (settings.api.client.coins.enabled == true) { %>
        <a href="../store" class="nav-link transition text-gray-600 hover:bg-gray-200 backdrop-blur hover:text-gray-800 group flex items-center px-4 py-2 text-sm font-medium rounded-lg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 mr-2 text-gray-500">
            <path fill-rule="evenodd" d="M6 5v1H4.667a1.75 1.75 0 0 0-1.743 1.598l-.826 9.5A1.75 1.75 0 0 0 3.84 19H16.16a1.75 1.75 0 0 0 1.743-1.902l-.826-9.5A1.75 1.75 0 0 0 15.333 6H14V5a4 4 0 0 0-8 0Zm4-2.5A2.5 2.5 0 0 0 7.5 5v1h5V5A2.5 2.5 0 0 0 10 2.5ZM7.5 10a2.5 2.5 0 0 0 5 0V8.75a.75.75 0 0 1 1.5 0V10a4 4 0 0 1-8 0V8.75a.75.75 0 0 1 1.5 0V10Z" clip-rule="evenodd" />
          </svg>
          Store
        </a>
        <a href="../staking" class="nav-link transition text-gray-600 hover:bg-gray-200 backdrop-blur hover:text-gray-800 flex items-center px-4 py-2 text-sm font-medium rounded-lg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 mr-2 text-gray-500">
            <path fill-rule="evenodd" d="M2.25 2.25a.75.75 0 0 0 0 1.5H3v10.5a3 3 0 0 0 3 3h1.21l-1.172 3.513a.75.75 0 0 0 1.424.474l.329-.987h8.418l.33.987a.75.75 0 0 0 1.422-.474l-1.17-3.513H18a3 3 0 0 0 3-3V3.75h.75a.75.75 0 0 0 0-1.5H2.25Zm6.54 15h6.42l.5 1.5H8.29l.5-1.5Zm8.085-8.995a.75.75 0 1 0-.75-1.299 12.81 12.81 0 0 0-3.558 3.05L11.03 8.47a.75.75 0 0 0-1.06 0l-3 3a.75.75 0 1 0 1.06 1.06l2.47-2.47 1.617 1.618a.75.75 0 0 0 1.146-.102 11.312 11.312 0 0 1 3.612-3.321Z" clip-rule="evenodd" />
          </svg>          
          Staking
        </a>
        <% } %>

        <!--<p class="text-gray-400 font-medium text-xs pb-2 ml-4 pt-8">
          Billing 
        </p>
        <a href="../tickets" class="nav-link transition text-gray-600 hover:bg-gray-200 backdrop-blur hover:text-gray-800 flex items-center px-4 py-2 text-sm font-medium rounded-lg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 mr-2 text-gray-500">
            <path fill-rule="evenodd" d="M3.75 3.375c0-1.036.84-1.875 1.875-1.875H9a3.75 3.75 0 0 1 3.75 3.75v1.875c0 1.036.84 1.875 1.875 1.875H16.5a3.75 3.75 0 0 1 3.75 3.75v7.875c0 1.035-.84 1.875-1.875 1.875H5.625a1.875 1.875 0 0 1-1.875-1.875V3.375Zm10.5 1.875a5.23 5.23 0 0 0-1.279-3.434 9.768 9.768 0 0 1 6.963 6.963A5.23 5.23 0 0 0 16.5 7.5h-1.875a.375.375 0 0 1-.375-.375V5.25ZM12 10.5a.75.75 0 0 1 .75.75v.028a9.727 9.727 0 0 1 1.687.28.75.75 0 1 1-.374 1.452 8.207 8.207 0 0 0-1.313-.226v1.68l.969.332c.67.23 1.281.85 1.281 1.704 0 .158-.007.314-.02.468-.083.931-.83 1.582-1.669 1.695a9.776 9.776 0 0 1-.561.059v.028a.75.75 0 0 1-1.5 0v-.029a9.724 9.724 0 0 1-1.687-.278.75.75 0 0 1 .374-1.453c.425.11.864.186 1.313.226v-1.68l-.968-.332C9.612 14.974 9 14.354 9 13.5c0-.158.007-.314.02-.468.083-.931.831-1.582 1.67-1.694.185-.025.372-.045.56-.06v-.028a.75.75 0 0 1 .75-.75Zm-1.11 2.324c.119-.016.239-.03.36-.04v1.166l-.482-.165c-.208-.072-.268-.211-.268-.285 0-.113.005-.225.015-.336.013-.146.14-.309.374-.34Zm1.86 4.392V16.05l.482.165c.208.072.268.211.268.285 0 .113-.005.225-.015.336-.012.146-.14.309-.374.34-.12.016-.24.03-.361.04Z" clip-rule="evenodd" />
          </svg>                 
          Invoices
        </a>
        <a href="../tickets" class="nav-link transition text-gray-600 hover:bg-gray-200 backdrop-blur hover:text-gray-800 flex items-center px-4 py-2 text-sm font-medium rounded-lg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 mr-2 text-gray-500">
            <path d="M4.5 3.75a3 3 0 0 0-3 3v.75h21v-.75a3 3 0 0 0-3-3h-15Z" />
            <path fill-rule="evenodd" d="M22.5 9.75h-21v7.5a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3v-7.5Zm-18 3.75a.75.75 0 0 1 .75-.75h6a.75.75 0 0 1 0 1.5h-6a.75.75 0 0 1-.75-.75Zm.75 2.25a.75.75 0 0 0 0 1.5h3a.75.75 0 0 0 0-1.5h-3Z" clip-rule="evenodd" />
          </svg>                       
          Payments
        </a>-->

        <p class="text-gray-400 font-medium text-xs pb-2 ml-4 pt-8">
          Support 
        </p>
        <a href="../tickets" class="nav-link transition text-gray-600 hover:bg-gray-200 backdrop-blur hover:text-gray-800 flex items-center px-4 py-2 text-sm font-medium rounded-lg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 mr-2 text-gray-500">
            <path fill-rule="evenodd" d="M1.5 6.375c0-1.036.84-1.875 1.875-1.875h17.25c1.035 0 1.875.84 1.875 1.875v3.026a.75.75 0 0 1-.375.65 2.249 2.249 0 0 0 0 3.898.75.75 0 0 1 .375.65v3.026c0 1.035-.84 1.875-1.875 1.875H3.375A1.875 1.875 0 0 1 1.5 17.625v-3.026a.75.75 0 0 1 .374-.65 2.249 2.249 0 0 0 0-3.898.75.75 0 0 1-.374-.65V6.375Zm15-1.125a.75.75 0 0 1 .75.75v.75a.75.75 0 0 1-1.5 0V6a.75.75 0 0 1 .75-.75Zm.75 4.5a.75.75 0 0 0-1.5 0v.75a.75.75 0 0 0 1.5 0v-.75Zm-.75 3a.75.75 0 0 1 .75.75v.75a.75.75 0 0 1-1.5 0v-.75a.75.75 0 0 1 .75-.75Zm.75 4.5a.75.75 0 0 0-1.5 0V18a.75.75 0 0 0 1.5 0v-.75ZM6 12a.75.75 0 0 1 .75-.75H12a.75.75 0 0 1 0 1.5H6.75A.75.75 0 0 1 6 12Zm.75 2.25a.75.75 0 0 0 0 1.5h3a.75.75 0 0 0 0-1.5h-3Z" clip-rule="evenodd" />
          </svg>                   
          Tickets
        </a>

        <% /* Restricted: Admin panel and settings */ %>
        <% if (pterodactyl.root_admin == true) { %>
        <p class="text-gray-500 font-semibold text-xs pb-2 ml-4 pt-8">
          Restricted pages
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="mb-0.5 w-3 h-3 inline-flex ml-0.5">
            <path fill-rule="evenodd" d="M8 1a3.5 3.5 0 0 0-3.5 3.5V7A1.5 1.5 0 0 0 3 8.5v5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5v-5A1.5 1.5 0 0 0 11.5 7V4.5A3.5 3.5 0 0 0 8 1Zm2 6V4.5a2 2 0 1 0-4 0V7h4Z" clip-rule="evenodd" />
          </svg>
        </p>
        <a href="../admin/overview" class="nav-link transition text-gray-600 hover:bg-gray-200 backdrop-blur hover:text-gray-800 flex items-center px-4 py-2 text-sm font-medium rounded-lg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 mr-2 text-gray-500">
            <path fill-rule="evenodd" d="M2.25 13.5a8.25 8.25 0 0 1 8.25-8.25.75.75 0 0 1 .75.75v6.75H18a.75.75 0 0 1 .75.75 8.25 8.25 0 0 1-16.5 0Z" clip-rule="evenodd" />
            <path fill-rule="evenodd" d="M12.75 3a.75.75 0 0 1 .75-.75 8.25 8.25 0 0 1 8.25 8.25.75.75 0 0 1-.75.75h-7.5a.75.75 0 0 1-.75-.75V3Z" clip-rule="evenodd" />
          </svg>          
          Overview
        </a>
        <a href="../admin/settings" class="nav-link transition text-gray-600 hover:bg-gray-200 backdrop-blur hover:text-gray-800 flex items-center px-4 py-2 text-sm font-medium rounded-lg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 mr-2 text-gray-500">
            <path fill-rule="evenodd" d="M7.84 1.804A1 1 0 0 1 8.82 1h2.36a1 1 0 0 1 .98.804l.331 1.652a6.993 6.993 0 0 1 1.929 1.115l1.598-.54a1 1 0 0 1 1.186.447l1.18 2.044a1 1 0 0 1-.205 1.251l-1.267 1.113a7.047 7.047 0 0 1 0 2.228l1.267 1.113a1 1 0 0 1 .206 1.25l-1.18 2.045a1 1 0 0 1-1.187.447l-1.598-.54a6.993 6.993 0 0 1-1.929 1.115l-.33 1.652a1 1 0 0 1-.98.804H8.82a1 1 0 0 1-.98-.804l-.331-1.652a6.993 6.993 0 0 1-1.929-1.115l-1.598.54a1 1 0 0 1-1.186-.447l-1.18-2.044a1 1 0 0 1 .205-1.251l1.267-1.114a7.05 7.05 0 0 1 0-2.227L1.821 7.773a1 1 0 0 1-.206-1.25l1.18-2.045a1 1 0 0 1 1.187-.447l1.598.54A6.992 6.992 0 0 1 7.51 3.456l.33-1.652ZM10 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd" />
          </svg>
          Settings
        </a>
        <a href="../admin/nodes" class="nav-link transition text-gray-600 hover:bg-gray-200 backdrop-blur hover:text-gray-800 flex items-center px-4 py-2 text-sm font-medium rounded-lg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 mr-2 text-gray-500">
            <path d="M16.5 6a3 3 0 0 0-3-3H6a3 3 0 0 0-3 3v7.5a3 3 0 0 0 3 3v-6A4.5 4.5 0 0 1 10.5 6h6Z" />
            <path d="M18 7.5a3 3 0 0 1 3 3V18a3 3 0 0 1-3 3h-7.5a3 3 0 0 1-3-3v-7.5a3 3 0 0 1 3-3H18Z" />
          </svg>          
          Nodes
        </a>
        <a href="../admin/users" class="nav-link transition text-gray-600 hover:bg-gray-200 backdrop-blur hover:text-gray-800 flex items-center px-4 py-2 text-sm font-medium rounded-lg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 mr-2 text-gray-500">
            <path fill-rule="evenodd" d="M8.25 6.75a3.75 3.75 0 117.5 0 3.75 3.75 0 01-7.5 0zM15.75 9.75a3 3 0 116 0 3 3 0 01-6 0zM2.25 9.75a3 3 0 116 0 3 3 0 01-6 0zM6.31 15.117A6.745 6.745 0 0112 12a6.745 6.745 0 016.709 7.498.75.75 0 01-.372.568A12.696 12.696 0 0112 21.75c-2.305 0-4.47-.612-6.337-1.684a.75.75 0 01-.372-.568 6.787 6.787 0 011.019-4.38z" clip-rule="evenodd" />
            <path d="M5.082 14.254a8.287 8.287 0 00-1.308 5.135 9.687 9.687 0 01-1.764-.44l-.115-.04a.563.563 0 01-.373-.487l-.01-.121a3.75 3.75 0 013.57-4.047zM20.226 19.389a8.287 8.287 0 00-1.308-5.135 3.75 3.75 0 013.57 4.047l-.01.121a.563.563 0 01-.373.486l-.115.04c-.567.2-1.156.349-1.764.441z" />
          </svg>
          Users
        </a>
        <a href="../admin/servers" class="nav-link transition text-gray-600 hover:bg-gray-200 backdrop-blur hover:text-gray-800 flex items-center px-4 py-2 text-sm font-medium rounded-lg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 mr-2 text-gray-500">
            <path d="M5.507 4.048A3 3 0 017.785 3h8.43a3 3 0 012.278 1.048l1.722 2.008A4.533 4.533 0 0019.5 6h-15c-.243 0-.482.02-.715.056l1.722-2.008z" />
            <path fill-rule="evenodd" d="M1.5 10.5a3 3 0 013-3h15a3 3 0 110 6h-15a3 3 0 01-3-3zm15 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm2.25.75a.75.75 0 100-1.5.75.75 0 000 1.5zM4.5 15a3 3 0 100 6h15a3 3 0 100-6h-15zm11.25 3.75a.75.75 0 100-1.5.75.75 0 000 1.5zM19.5 18a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" clip-rule="evenodd" />
          </svg>
          Servers
        </a>
        <a href="../admin/nests" class="nav-link transition text-gray-600 hover:bg-gray-200 backdrop-blur hover:text-gray-800 flex items-center px-4 py-2 text-sm font-medium rounded-lg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 mr-2 text-gray-500">
            <path fill-rule="evenodd" d="M12 6.75a5.25 5.25 0 0 1 6.775-5.025.75.75 0 0 1 .313 1.248l-3.32 3.319c.063.475.276.934.641 1.299.365.365.824.578 1.3.64l3.318-3.319a.75.75 0 0 1 1.248.313 5.25 5.25 0 0 1-5.472 6.756c-1.018-.086-1.87.1-2.309.634L7.344 21.3A3.298 3.298 0 1 1 2.7 16.657l8.684-7.151c.533-.44.72-1.291.634-2.309A5.342 5.342 0 0 1 12 6.75ZM4.117 19.125a.75.75 0 0 1 .75-.75h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75h-.008a.75.75 0 0 1-.75-.75v-.008Z" clip-rule="evenodd" />
            <path d="m10.076 8.64-2.201-2.2V4.874a.75.75 0 0 0-.364-.643l-3.75-2.25a.75.75 0 0 0-.916.113l-.75.75a.75.75 0 0 0-.113.916l2.25 3.75a.75.75 0 0 0 .643.364h1.564l2.062 2.062 1.575-1.297Z" />
            <path fill-rule="evenodd" d="m12.556 17.329 4.183 4.182a3.375 3.375 0 0 0 4.773-4.773l-3.306-3.305a6.803 6.803 0 0 1-1.53.043c-.394-.034-.682-.006-.867.042a.589.589 0 0 0-.167.063l-3.086 3.748Zm3.414-1.36a.75.75 0 0 1 1.06 0l1.875 1.876a.75.75 0 1 1-1.06 1.06L15.97 17.03a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
          </svg>
          Nests
        </a>
        <a href="../admin/radar" class="nav-link transition text-gray-600 hover:bg-gray-200 backdrop-blur hover:text-gray-800 flex items-center px-4 py-2 text-sm font-medium rounded-lg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 mr-2 text-gray-500">
            <path fill-rule="evenodd" d="M11.484 2.17a.75.75 0 0 1 1.032 0 11.209 11.209 0 0 0 7.877 3.08.75.75 0 0 1 .722.515 12.74 12.74 0 0 1 .635 3.985c0 5.942-4.064 10.933-9.563 12.348a.749.749 0 0 1-.374 0C6.314 20.683 2.25 15.692 2.25 9.75c0-1.39.223-2.73.635-3.985a.75.75 0 0 1 .722-.516l.143.001c2.996 0 5.718-1.17 7.734-3.08ZM12 8.25a.75.75 0 0 1 .75.75v3.75a.75.75 0 0 1-1.5 0V9a.75.75 0 0 1 .75-.75ZM12 15a.75.75 0 0 0-.75.75v.008c0 .414.336.75.75.75h.008a.75.75 0 0 0 .75-.75v-.008a.75.75 0 0 0-.75-.75H12Z" clip-rule="evenodd" />
          </svg>    
          Radar
        </a>
        <a href="../admin/support" class="nav-link transition text-gray-600 hover:bg-gray-200 backdrop-blur hover:text-gray-800 flex items-center px-4 py-2 text-sm font-medium rounded-lg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 mr-2 text-gray-500">
            <path fill-rule="evenodd" d="M4.848 2.771A49.144 49.144 0 0112 2.25c2.43 0 4.817.178 7.152.52 1.978.292 3.348 2.024 3.348 3.97v6.02c0 1.946-1.37 3.678-3.348 3.97a48.901 48.901 0 01-3.476.383.39.39 0 00-.297.17l-2.755 4.133a.75.75 0 01-1.248 0l-2.755-4.133a.39.39 0 00-.297-.17 48.9 48.9 0 01-3.476-.384c-1.978-.29-3.348-2.024-3.348-3.97V6.741c0-1.946 1.37-3.68 3.348-3.97z" />
          </svg>              
          Support
        </a>
        <% } %>
      </nav>

      <% if (settings.api.client.coins.enabled == true) { %>
      <div class="flex-shrink-0 flex shadow-sm bg-gray-100 border border-gray-300/70 rounded-lg px-3 py-2 mt-4 transition justify-between">
        <div class="flex items-center">
          <p class="text-xs font-medium text-gray-500 tracking-tight"><%= coins.toFixed(2) %> coins</p>
        </div>
        <a href="../logout" class="text-xs bg-gray-200 rounded-lg py-1 px-2 text-gray-600 flex items-center hover:bg-gray-300 transition">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-gray-500 inline-flex mr-1">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75" />
          </svg>
          Sign out
        </a>
      </div>
      <% } %>

    </div>
  </div>
</div>

<div id="sidebar-overlay" class="fixed inset-0 bg-gray-600 bg-opacity-50 z-30 hidden md:hidden" onclick="toggleSidebar()"></div>

<!-- Search system -->
<%- include('../components/search') %>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var currentPageUrl = window.location.href;

    // Get all navigation links
    var navLinks = document.querySelectorAll('.nav-link');

    // Loop through each navigation link
    navLinks.forEach(function(link) {
      // Get the href attribute of the link
      var linkUrl = link.getAttribute('href');

      // Check if the current page URL contains the link URL
      if (currentPageUrl.includes(linkUrl.replace('../', '/'))) {
        // Remove all existing classes
        link.className = 'nav-link';

        // Add the specified classes
        link.classList.add(
          'transition',
          'text-gray-900',
          'bg-white',
          'shadow-sm',
          'backdrop-blur',
          'group',
          'flex',
          'items-center',
          'px-4',
          'py-2',
          'text-sm',
          'font-semibold',
          'rounded-lg'
        );
      }
    });
  });
</script>
<script>
  var options = {
    classname: 'loadingbar',
    id: 'loadingbar'
  };
  var nanobar = new Nanobar(options);
  // Show the spinner with a smooth transition
  var spinner = document.getElementById('spinner');
  spinner.style.opacity = '1';
  // Simulate a slower loading progress
  function simulateLoading() {
    nanobar.go(10); // Change this value to control the loading speed
    setTimeout(function() {
      nanobar.go(50);
    }, 190); // Delay the progress update
    setTimeout(function() {
      nanobar.go(100);
      // Hide the spinner with a smooth transition
      spinner.style.opacity = '0';
    }, 400); // Another delay
  }
  simulateLoading();
</script>
<style>
  .loadingbar .bar {
    background: #515661;
    -webkit-box-shadow: 0px 4px 38px -15px rgba(0, 0, 0, 0.87);
    -moz-box-shadow: 0px 4px 38px -15px rgba(0, 0, 0, 0.87);
    box-shadow: 0px 4px 38px -15px rgba(0, 0, 0, 0.87);
    height: 1.85px;
  }
</style>
<style>
  #skeleton-loader {
    display: none;
  }

  #skeleton-loader.active {
    display: block;
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Get references to the skeleton loader and content elements
    const skeletonLoader = document.getElementById("skeleton-loader");
    const content = document.getElementById("content");

    // Function to show the skeleton loader and hide the content
    function showSkeletonLoader() {
      skeletonLoader.classList.add("active");
      content.style.display = "none";
    }

    // Function to hide the skeleton loader and show the content
    function hideSkeletonLoader() {
      skeletonLoader.classList.remove("active");
      content.style.display = "block";
    }

    // Show the skeleton loader immediately (initial state)
    showSkeletonLoader();
    setTimeout(hideSkeletonLoader, 250);
  });
</script>
<script>
const sidebar = document.getElementById('sidebar');
const overlay = document.getElementById('sidebar-overlay');
const mobileMenuButton = document.getElementById('mobile-menu-button');

function toggleSidebar() {
  const isOpen = !sidebar.classList.contains('-translate-x-full');
  
  if (isOpen) {
    // Close sidebar
    sidebar.classList.add('-translate-x-full');
    overlay.classList.add('hidden');
    document.body.classList.remove('overflow-hidden');
  } else {
    // Open sidebar
    sidebar.classList.remove('-translate-x-full');
    overlay.classList.remove('hidden');
    document.body.classList.add('overflow-hidden');
  }
}

// Add click event listener to mobile menu button
mobileMenuButton.addEventListener('click', toggleSidebar);

// Close sidebar on window resize if screen becomes larger
window.addEventListener('resize', () => {
  if (window.innerWidth >= 768) { // md breakpoint
    sidebar.classList.add('-translate-x-full');
    overlay.classList.add('hidden');
    document.body.classList.remove('overflow-hidden');
  }
});

// Your existing scripts remain the same
</script>
<style>
  .hidden {
    display: none;
  }

  .modal {
    display: none;
    /* Initially hide the modal */
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  .newAccountModal {
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  .newAccountContent {
    transition: opacity 0.2s ease-in-out;
    /* Added transition for opacity */
    background-color: #fff;
    margin: 15% auto;
    padding: 48px;
    width: 30%;
    border-radius: 24px;
  }

  .modal-content {
    opacity: 0;
    /* Initially hide the modal content */
    transition: opacity 0.2s ease-in-out;
    /* Added transition for opacity */
    margin: 15% auto;
    padding: 48px;
    width: 30%;
    border-radius: 24px;
  }

  @media (max-width: 768px) {
    .modal-content {
      width: 80%;
    }
  }

  .modal.show {
    display: block;
    /* Show the modal when it has the 'show' class */
  }

  .modal-content.visible {
    opacity: 1;
    /* Show the modal content when it has the 'visible' class */
  }
</style>